/venv/
__pycache__/
*.log
# *.yaml
# *.json
*.tif
*.tiff
*.npy
*.onnx
*.weights
*.pt
*.pth
*.ckpt
*.zip
*.tar.gz
*.tar
*.tar.bz2
*.tar.xz
*.egg-info/
*.jpg
dist/
build/
*.egg
*.whl
*.ipynb_checkpoints/